<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sponsored_post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @sponsored_post.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sponsored_post.price %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @sponsored_post.title %>
</p>

<%= link_to 'Edit', edit_topic_sponsored_post_path(@sponsored_post.topic, @sponsored_post) %> |
<%= link_to 'Back', topic_path(@sponsored_post.topic) %>
